<div class="w-full bg-neutral text-neutral-content shadow-sm">
	<div class="bg-primary text-neutral-content py-12">
		<div class="max-w-6xl mx-auto px-4 text-center">
			<div class="font-display text-3xl font-bold mb-4">U.F.O. Update</div>
			<p class="text-sm opacity-80 mb-6">Elke maand weer een leuke nieuwsbrief!</p>
			<div class="flex justify-center space-x-8 text-sm">
				<p>
					
				</p>
			</div>
		</div>
	</div>
	<footer class="footer sm:footer-horizontal max-w-5xl mx-auto p-10 h-card" role="contentinfo" itemscope itemtype="http://schema.org/Organization">
		<aside>
			<div>
				<p class="p-name org u-org" itemprop="name"><strong>RedacCie</strong></p>
				<p>Commissie namens de studentenscouting U.F.O.-Stam</p>
				<address class="h-adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span class="p-street-address" itemprop="streetAddress">Loevenhoutsedijk 6</span>, <br />
					<span class="p-postal-code" itemprop="postalCode">3552XE</span> <span class="p-locality" itemprop="addressLocality">Utrecht</span>
					<meta class="p-country-name" itemprop="addressCountry" content="Nederland" />
				</address>
				<p class="mt-4">
					Copyright © {{dates.year.now()}}, Alle rechten voorbehouden.
				</p>
			</div>
		</aside>
		<nav aria-labelledby="service-policy">
			<h2 id="service-policy" class="footer-title">Service & Beleid</h2>
			<a class="link link-hover" href="/privacy">Privacyverklaring</a>
			<a class="link link-hover" href="/contact">Contact</a>
		</nav>
		<nav aria-labelledby="social-media">
			<h2 id="social-media" class="footer-title">Sociale Media</h2>
			<div class="grid grid-flow-col gap-4">
				<a class="link link-hover u-url" href="https://www.instagram.com/redaccie_ufostam/" rel="me"
					itemprop="sameAs" aria-label="Bezoek onze Instagram pagina">
					<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" class="fill-current" aria-hidden="true" focusable="false" viewBox="0 0 24 24">
						<title>Instagram</title>
						<path d="M7 0 4 1 2 2 1 4 0 7a85 85 0 0 0 1 13l1 2 2 1 3 1a85 85 0 0 0 13-1l2-1 1-2 1-3a85 85 0 0 0-1-13l-1-2-2-1-3-1A85 85 0 0 0 7 0m0 22-2-1-1-1-1-1-1-2A85 85 0 0 1 3 5l1-1 1-1 2-1a84 84 0 0 1 12 1l1 1 1 1 1 2a83 83 0 0 1-1 12l-1 1-1 1-2 1a85 85 0 0 1-10 0M17 6a1 1 0 1 0 1-2 1 1 0 0 0-1 2M6 12a6 6 0 1 0 12 0 6 6 0 0 0-12 0m2 0a4 4 0 1 1 4 4 4 4 0 0 1-4-4" />
					</svg>
					<span class="sr-only">Instagram</span>
				</a>
			</div>
		</nav>
	</footer>
</div>