---
title: Contact!
description: Hier kan je contact opnemen met de redactie van de U.F.O. Update.
---

<main class="max-w-5xl mx-auto p-6">
	<section class="card bg-base-100 shadow-lg my-10">
		<div class="card-body">
			<form name="contact" method="POST" action="/contact/succes" netlify>
				<input type="hidden" name="form-name" value="contact">

				<fieldset class="fieldset grid grid-cols-1 gap-4">
					<legend class="fieldset-legend text-2xl">{{ title }}</legend>

					<div class="text-sm prose">
						{{ content | safe }}
					</div>

					<label for="naam" class="fieldset-label text-base-content text-lg">Naam</label>
					<input type="text" class="input text-lg w-full" name="naam" id="naam" placeholder="Schrijf hier een naam"
						required />


					<label for="email" class="fieldset-label text-base-content text-lg">E-mailadres</label>
					<input class="input text-lg validator w-full" type="email" name="email" id="email" required
						placeholder="mail@site.nl" />
					<div class="validator-hint text-lg">Vul een juist e-mailadres in</div>

					<label for="nummer" class="fieldset-label text-base-content text-lg">Telefoonnummer (optioneel)</label>
					<input class="input text-lg w-full" id="nummer" type="tel" name="nummer"
						placeholder="06-12345678" />

					<label for="bericht" class="fieldset-label text-base-content text-lg">Uw bericht</label>
					<textarea name="bericht" id="bericht" class="textarea h-48 text-lg w-full" required></textarea>

					<button type="submit" class="btn btn-primary center text-lg">Verstuur bericht</button>
				</fieldset>
			</form>
		</div>
	</section>
</main>