---
title: Contact Succesvol!
description: Bedankt voor uw bericht. We gaan er zo snel mogelijk mee aan de slag.
---

<main class="max-w-5xl mx-auto p-6">
	<section class="card bg-base-100 shadow-lg my-10">
		<div class="card-body">
			<h1 class="text-3xl font-semibold mb-4">Bedankt voor uw bericht!</h1>
			<p class="mb-4">
				Bedankt voor uw bericht. We gaan er zo snel mogelijk mee aan de slag.
			</p>
			<p class="mb-4">
				<a href="/" class="btn btn-primary">Terug naar de hoofdpagina</a>
			</p>
		</div>
	</section>
</main>