---
title: 404
layout: page.njk
description: Deze pagina is niet gevonden.
permalink: 404.html
---

<main class="max-w-2xl mx-auto text-center">
	<div class="card bg-base-100 shadow-lg my-10 sm:p-4">
		<div class="card-body prose">
			<h1 class="text-3xl font-bold mb-4">404 - Verdwaald in de cosmos!</h1>
			<p class="text-lg mb-4">Oeps... Deze pagina is zo goed verstopt dat zelfs onze beste redacteurs hem niet kunnen vinden!</p>
			<h2 class="text-xl mb-4 font-bold">🚨 Wat nu?! 🚨</h2>
			<ul class="list-disc list-inside text-left mx-auto w-fit mb-6">
				<li>🔎 Pak je kompas en probeer het opnieuw!</li>
				<li>🔥 Stook een virtueel kampvuurtje en wacht op redding.</li>
				<li>🏕️ Vraag de Alumni om een survivaltraining.</li>
				<li>🦉 Stuur een uil (of een e-mail) naar de RedacCie.</li>
			</ul>
			<a href="/" class="btn btn-primary mt-4 not-prose">Terug naar 't Moederschip</a>
		</div>
	</div>
</main>
