{% set WORD_LIST = [
	{ "word": "APPEL", "clue": "Rood fruit dat de dokter weghoudt" },
	{ "word": "BOEK", "clue": "Je leest dit" },
	{ "word": "KAT", "clue": "Huiskat of poes" },
	{ "word": "HOND", "clue": "De beste vriend van de mens" },
	{ "word": "BOOM", "clue": "Hoge plant met takken" },
	{ "word": "WATER", "clue": "Heldere vloeistof, essentieel voor leven" },
	{ "word": "MUZIEK", "clue": "Kunst van klank en ritme" },
	{ "word": "BLIJ", "clue": "Gevoel van vreugde" },
	{ "word": "OCEAAN", "clue": "Grote hoeveelheid zout water" },
	{ "word": "TELEFOON", "clue": "Apparaat om mee te communiceren" },
	{ "word": "BORRELNOOD", "clue": "Borreltraktatie per stuk" }
] %}

{% include "./partials/crossword.njk" %}