{% set passwords = [
	{ "password": "VUURWERK" },
	{ "password": "ALIENS" },
	{ "password": "PILOOT" },
	{ "password": "BESTUURSCOLUMN" },
	{ "password": "SPACESHIP" },
	{ "password": "KERSTDINER" },
	{ "password": "BUITENAARDS" },
	{ "password": "RUIMTEVAART" },
	{ "password": "ROOD" }
] %}

{% include "./partials/secret.njk" %}