{% set WORD_LIST = [
	{ "word": "LICHT" },
	{ "word": "DROOM" },
	{ "word": "WATER" },
	{ "word": "STORM" },
	{ "word": "BRAND" },
	{ "word": "FIETS" },
	{ "word": "MAAND" },
	{ "word": "STERK" },
	{ "word": "BRIEF" }
] %}

{% include "./partials/wordle.njk" %}