<!DOCTYPE html>
<html lang="nl">

<head>
	{% include "head.njk" %}
</head>

<body class="bg-base-100">
	{% include "navbar.njk" %}

	{% include "hero.njk" %}

    <main class="max-w-4xl mx-auto px-4 py-16 prose prose-lg">
        {{ content | safe }}

		{% include "authors.njk" %}
    </main>

	{% include "footer.njk" %}
	{% include "interactive/quicknav.njk" %}

</body>
</html>